<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>multui command</title>
	<script src="../0-vue-js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue">
		<button v-on:click="handerBtnClick">提交</button>
		<ul>
			<li v-for="item in list">{{item}}</li>
		</ul>
	</div>
	<script>
		// 这种不通过DOM修改页面数据的方式称为MVVM方式
		var app = new Vue({
			el: '#app',
			data:{
				list: [],
				inputValue:'',
			},
			methods:{
				handerBtnClick:function () {
					// 通过push方法向列表中添加数据
					this.list.push(this.inputValue);
					// 重置input内容为空
					this.inputValue=''
				}

			}
		})
	</script>
	
</body>
</html>